section {
    width: 100%;
    height: 700px;
    background-image: url('https://assets.website-files.com/5badda2935e11303a89a461e/5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .section1 {
        width: 40%;
        height: 300px;
        background-color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        flex-direction: column;

        .sayhello {
            color: $color;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
        }

        .def {
            width: 70%;
            text-align: center;
            font-family: 'Varela Round', sans-serif;
            font-size: 40px;
            line-height: 48px;
            font-weight: 400;
        }

        .greenopen {
            width: 30%;
            height: 50px;
            margin-top: 30px;
            border-radius: 30px;
            border: none;
            background-color: $color;
            font-size: 17px;
            color: white;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

        }

    }
}
@media only screen and (max-width: 1024px) {
    section {
        .section1 {
            width: 80%;
            max-width: 600px;  
            .def {
                width: 90%;
                font-size: 24px;
                font-weight: 400;
            }
            .greenopen {
                width: 70%;
            }
        }
    }
}
/* Ekranın ortasına gelecek bir modal stili ekleyelim */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

.modal-content {
    width: 300px; /* İhtiyaca göre genişliği ayarlayın */
}

/* Kapatma düğmesi stili */
.close {
    float: right;
    cursor: pointer;
}
